* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(180deg, #b068e9, #6463e7);
  background-repeat: no-repeat;
}

.main {
  max-width: 920px;
  margin: 120px auto;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 87px;
  font-family: "Kumbh Sans", sans-serif;
  background-image: url("background.png");
  background-repeat: no-repeat;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  max-width: 350px;
  width: 100%;
  margin-bottom: 80px;
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
  margin: 65px auto 43px auto;
}

.question {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #d6d6d6;
  cursor: pointer;
}

.question:hover {
  color: #f47b56;
}

.questionActive {
  font-weight: 600;
  cursor: pointer;
}

.answer {
  padding: 18px 0;
  opacity: 0.7;
  border-bottom: 1px solid #d6d6d6;
}

.password {
  padding-top: 16px;
}

.imageBox {
  position: relative;
}

.extraimg {
  position: absolute;
  bottom: 23px;
  left: -77px;
}

.fa-solid {
  color: #f47b56;
}

@media (max-width: 930px) {
  .main {
    flex-direction: column;
    max-width: 600px;
    background-image: none;
    gap: 50px;
  }

  h1 {
    text-align: center;
    margin-top: 30px;
  }

  .imageBox {
    margin-top: -220px;
    max-width: 100%;
  }

  .image {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .main {
    max-width: 100%;
    width: 90%;
    margin: 50px auto;
    gap: 10px;
  }
  .question {
    font-size: 12px;
  }

  .questionActive {
    font-size: 12px;
  }

  .answer {
    font-size: 10px;
  }

  .section {
    max-width: 300px;
    margin-bottom: 48px;
  }

  .imageBox {
    margin-top: -160px;
    max-width: 300px;
  }

  .extraimg {
    bottom: 0;
  }

  .image {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .main {
    max-width: 275px;
  }

  .imageBox {
    max-width: 220px;
    margin-top: -115px;
    margin-bottom: 0;
  }

  .section {
    max-width: 275px;
    margin-bottom: 10px;
    margin-top: -60px;
  }

  .question,
  .questionActive {
    font-size: 10px;
    padding: 10px;
  }

  .answer {
    font-size: 8px;
    padding: 10px;
  }
  .section {
    /* border: 2px solid red; */
  }

  h1 {
    margin-top: 30px;
  }
}
