* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(180deg, #b068e9, #6463e7);
  background-repeat: no-repeat;
}

.main {
  max-width: 920px;
  margin: 120px auto;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 87px;
  font-family: "Kumbh Sans", sans-serif;
  background-image: url("background.png");
  background-repeat: no-repeat;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  max-width: 350px;
  width: 100%;
  margin-bottom: 80px;
  padding-inline: 20px;
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
  margin: 65px auto 43px auto;
}

.questionBox {
  margin-bottom: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
  cursor: pointer;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.imageBox {
  position: relative;
}

.extraimg {
  position: absolute;
  bottom: 23px;
  left: -77px;
}

.fa-solid {
  color: #f47b56;
}

.active .answer {
  max-height: 100px;
  padding: 10px 0;
  color: #787887;
}

.active .question {
  font-weight: 700;
}

i {
  transition: all 0.3s ease;
}

.active i {
  transform: rotate(180deg);
}

@media (max-width: 930px) {
  body {
    height: 100vh;
  }

  .main {
    flex-direction: column;
    max-width: 600px;
    margin: 300px auto 50px auto;
    background-image: none;
    gap: 0;
  }

  .section {
    max-width: 500px;
  }

  h1 {
    text-align: center;
    margin-top: 30px;
  }

  .imageBox {
    margin-top: -220px;
    max-width: 100%;
  }

  .image {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .main {
    max-width: 100%;
    width: 80%;
    margin: 200px auto 35px auto;
  }

  .question {
    font-size: 12px;
  }

  .questionActive {
    font-size: 12px;
  }

  .active .answer {
    font-size: 10px;
  }

  .section {
    max-width: 400px;
    margin-bottom: 48px;
  }

  .imageBox {
    margin-top: -160px;
    max-width: 300px;
  }

  .extraimg {
    bottom: 0;
  }

  .image {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .main {
    max-width: 275px;
    margin: 170px auto 50px auto;
  }

  .imageBox {
    max-width: 220px;
    margin: -115px auto 0 auto;
  }

  .section {
    max-width: 275px;
    margin: -60px auto 10px auto;
  }

  .question,
  .questionActive {
    font-size: 10px;
    padding: 10px;
  }

  .active .answer {
    font-size: 8px;
    padding-inline: 10px;
  }

  h1 {
    margin: 80px 0 20px 0;
  }
}
